@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic reset + font smoothing (common setup) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
